* {
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    color: black;
    height: 100%;
}

#basic{
    margin-top: 5%;
    margin: auto;
    width: 75%;
    background-color: crimson;
    padding: 5%;
}

#display{
    margin:auto;
    width: 50%;
    background-color: aqua;
    margin-top: 5%;
}